html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
    height: auto;
    overflow-x: hidden;
    overflow-y: auto; 
    overflow: visible;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;  
    overflow-y: scroll;
    width: 100%;
    height: auto;
    position: relative;
}
::-webkit-scrollbar {
    display: none;
}
.intro{
    width: 100%;
    height: auto;
}

.navbar {
    width: 100%;
    height: auto;
    background-color: #fff;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container h1 {
    color:#000;
    padding: 0;
    text-shadow: 0px 4px 5.2px rgba(0, 0, 0, 0.25);
    font-size: clamp(1.5rem, 2.795vw, 3rem); 
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.logo {
    width: 19.38vw;
    height: auto;
    aspect-ratio: 221.90/153.50;
}

.hamburger {
    width: 5.529vw;
    height: auto;
}

.group1 {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.group2 {
    margin-right: 0.5rem;
}
.mobile-nav {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #FFBE28;
    width: 60vw;
    z-index: 100;
    height: 210vh;   
    overflow-y: auto;
}

.mobile-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 30vw;
}

.mobile-nav li {
    margin: 0;
    padding: 0;
    margin-bottom: 1.486vh;
}

.mobile-nav a {
    display: block; 
    width: 100%;    
    margin: 0;      
    padding: 0.955vh 3vw 1.886vh 3vw; 
    color: #FFF;
    background: #FFB509;
    text-decoration: none;
    font-weight: 600;
    font-size: 5vw;
    white-space: nowrap;
}

.close-btn {
    width: 6vw;
    height: auto;
    position: absolute;
    top: 4vh;
    right: 0.5vw;
    cursor: pointer;
}
.header {
    width: 100%; 
    height: auto;
    background: #82F0EB;
    overflow-x: hidden;
    overflow-y: visible;
    position: relative;
    padding-bottom: 3vw;
}

.our_services {
    color: white;
    font-family: 'Poppins', sans-serif; 
    margin-left: 30px;
}

.our_services h1 {
    font-size: 5.5vw;
    margin-top: 0.75vh;
    margin-bottom: 2vw;
}
.our_services h2 {
    color: #DE26CF;
    font-family: 'Poppins', sans-serif;
    font-size: 3vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 82.52vw;
    margin: 0;
    margin-bottom: 1vh;
}
.our_services h3 {
    color: #DE26CF;
    font-family: 'Poppins', sans-serif;
    font-size: 3vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 82.52vw;
    margin: 0;
    margin-top: 1vh;
}
.ourservices {
    width: 100%;
    height: auto;    
    background: #fff;
    overflow-x: hidden;
    overflow-y: hidden; 
    padding-top: 0;  
    padding-bottom: 3.6vh;
    position: relative;
    flex-direction: column;
    gap: 10px;
    display: flex;
}
.heading {
    margin-left: 30px;
}
.heading h1 {
    color: #B8DB0C;
    font-family: 'Poppins', sans-serif;
    font-size: 4vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: center;
}
.heading h2 {
    color: #82F0EB;
    font-family: 'Poppins', sans-serif;
    font-size: 3.85vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    justify-content: center;
}
.serviceDetails {
    flex-direction: column;
    position: relative;
    display: flex;
    height: auto;
    width: 100%;
    left: 44px;
    top: 20px;
    gap: 2.4vh;
    padding-bottom: 8vw;
}
.service {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}
.service h1{
    color: #F182E8;
    font-size: 5.5vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif; 
}
.service img{
    border-radius: 2.87vw;
    border: 4px solid #F182E8;
    width: 11.68vw;
    height: auto;
    flex-shrink: 0;
    aspect-ratio: 1 / 1;  
    padding: 0.5vh;
}

.serviceDetails2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 1vw;
}
.oath {
    width: 85vw;
    height: auto;
    position: relative;
    flex-shrink: 0;
    background-color: #82F0EB;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.oath label{
    width: 100%;
    color: #FFF;
    text-align: center;
    font-size: 5vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-family: 'Poppins', sans-serif;
    padding: 25px;
    cursor: pointer;
}
.oath .toggle {
    display: none; 
}
.oath-content {
    display: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    max-height: 0;
    opacity: 0;
    transition: max-height 1.5s cubic-bezier(0.4, 0.2, 0.2, 1), opacity 1.5s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.oath-content img {
    width: 100%; 
    width: 85vw;
    display: block;
}

.toggle:checked ~ .oath-content {
    display: block;
    max-height: 1000px;
    opacity: 1;
    animation: dropCloth 0.35s forwards;
}
.clinicHours {
    width: 85vw;
    height: auto;
    position: relative;
    flex-shrink: 0;
    background-color: #82F0EB;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
    margin-top: 0;
    cursor: pointer;
}

.clinicHours label {
    width: 100%;
    color: #FFF;
    text-align: center;
    font-size: 5vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-family: 'Poppins', sans-serif;
    padding: 25px;
    cursor: pointer;
}

.clinicHours .Ctoggle {
    display: none;
}

.clinichours-content {
    display: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    max-height: 0;
    opacity: 0;
    transition: max-height 1.5s cubic-bezier(0.4, 0.2, 0.2, 1), opacity 1.5s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.clinichours-content img {
    width: 100%;
    width: 85vw;
    display: block;
}

.Ctoggle:checked ~ .clinichours-content {
    display: block;
    max-height: 1000px;
    opacity: 1;
    animation: CdropCloth 0.375s forwards;
}
@keyframes dropCloth {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(20%);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes CdropCloth {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(20%);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.right {
    margin-bottom: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right img {
    width: 85vw;
    height: auto;
    flex-shrink: 1;
    display: block;
}
.right button {
    position: absolute; 
    transform: translate(-50%, -50%);
    width: 36.49vw;
    height: 10.58vw;
    flex-shrink: 0;
    z-index: 1;
    bottom: 0.8vw;
    left: 50%;
    box-shadow: 0px -5px 0px 0px rgba(0, 0, 0, 0.35) inset;
    border: none;
    border-radius: 2.87vw;;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background-color: #FFBE28;
    font-size: 3vw;
    font-weight: 800;
    color: #FFF;
}

.Contact-Us{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background: #82F0EB;
    height: auto;
}

.Contact-Us-Container{
    display: flex;
    flex-direction: column;
}

.Contact-Us-Container h1{
    color: #F182E8;
    font-size: 7.767vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 4.854vw;
    margin-bottom: 0;
}

.Contact-Us-Container h2{
    font-size: 3.883vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 4.854vw;
    margin-bottom: 1.496vh;
}

.Contact-Us-Container p{
    margin-left: 4.854vw;
    margin-right: 4.854vw;
    color: #DE26CF;
    font-size: 3vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 0;
}

.Contact-Us-Container a{
    text-decoration: none;
    list-style: none;
    color: #FFBE28;
    font-size: 3vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.background{
    position: absolute;
    top: 10.198vh;
}

.background img{
    width: 99.843vw;
    height: auto;
}

.Contact-Us-Details{
    display: flex;
    flex-direction: column;
    margin-left: 6.553vw;
    margin-top: 8.055vh;
}

.ambotuy{
    display: flex;
    align-items: center;
    font-size: 3.5vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 3.797vh;
}

.ambotuy img{
    width: 7.767vw;
    height: auto;
    margin-right: 2.126vw;
}

.ambotuy a{
    color: black;
    list-style: none;
    text-decoration: none;
    text-align: center;
    font-size:  3.5vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.ambotuylahi{
    display: flex;
    font-size: 3.5vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 3.797vh;
}

.ambotuylahi img{
    width: 7.767vw;
    height: auto;
    margin-right: 2.126vw;
}

.ambotuylahi p{
    margin: 0.5vh;
    display: flex;
    flex-direction: column;
}

.indented {
    display: flex;
}

.ambotuylahi .indented{
    margin-left: 5vw;
}

.map {
    display: flex;
    justify-content: center; 
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding-bottom: 5.293vh;
}

.map iframe {
    width: 90vw;    
    height: 60vh;    
    border: none;
    border-radius: 12px; 
}

.footer{
    width: 100%;         
    height: auto;
    flex-shrink: 0;
    position: relative;
    overflow: visible;
    flex-direction: column;
    gap: 15px;
    margin-top: 2.5vh;
}    

.footer-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    height: auto;
    margin-top: 30px;
}

.footerlogo {
    width: 33.76vw;
    height: auto;
    aspect-ratio: 1 / 1;
    flex-shrink: 1;
    margin-right: 10px;
    align-self: flex-start;
    display: flex;
    margin-left: 4vw;
    margin-right: 3vw;
}
.footerlogo img {
    max-width: 100%; 
    height: auto;
}
.footer-icons{
    display: flex;
    width: 5.48vw;
    height: auto;
    flex-shrink: 0;
    aspect-ratio: 1 / 1;
    flex-direction: column; 
    gap: 15px;
}

.pink2{
    top: 0 ;
    margin-bottom: 0;
}

.green{
    margin-bottom: 0;
}

.footer-details{
    margin-left: 10px;
    width: 100%;
    display: block;
    text-align: justify;
    font-family: 'Poppins', sans-serif; 
}

.footer-address{
    width: auto;
    color: #F182E8;
    font-size: 3vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 15px;
}

.footer-cp{
    margin-top: 0;
    color: #B8DB0C;
    font-size: 3vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 15px;
}

.footer-fb {
    display: inline-block;   
    width: 100%;      
    word-wrap: break-word;   
    white-space: normal;     
    color: #82F0EB;
    font-size: 3vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    box-sizing: border-box;
}
.footer-container2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: auto;
    flex-direction: row;
    gap: 10px;
    margin-top: 3vh;
}
.quicklinks {
    margin-left: 20px;
}
.quicklinks h1{
    color: #F182E8;
    font-size: 4vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}
.quicklinks ul{
   padding-left: 0;
   margin-left: 20px;
   margin-top: 0;
}

.quicklinks ul li{
    list-style-type: disc;
    color: #B8DB0C;
}

.quicklinks ul li a{
    display: inline-block;
    color: #B8DB0C;
    text-align: justify;
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.services{
    margin-left: 15px;
}

.services h1{
    color: #82F0EB;
    font-size: 4vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}

.services ul{
    padding: 0;
    margin-top: 0;
    margin-left: 20px;
}

.services ul li{
    list-style-type: disc;
    color: #F182E8;
}

.services ul li a{
    display: inline-block;
    color: #F182E8;
    text-align: justify;
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    pointer-events: none;
}

.services2 ul li{
    list-style-type: disc;
    color: #B8DB0C;
}

.services2 ul li a{
    display: inline-block;
    color: #B8DB0C;
    text-align: justify;
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    pointer-events: none;
}
.copyright {
    border-top-color: rgba(169, 169, 169, 0.50);
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-style: solid;
    border-width: 1px;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    text-align: center; 
    width: 100%;
}
.copyright-container{
    display: flex;
    color: #000;
    flex-direction: column;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
    font-family: 'Poppins', sans-serif; 
    justify-content: center;
    align-items: center;
}
.copyright-container .arrow {
    margin-top: 30px;
    width: 3.89vw;
    height: 1.79vh;
}
.copyright-container .fb {
    width: 3.89vw;
    height: auto;
}
.copyright-container p {
    font-size: 2.5vw;
    text-align: center;
}
.follow {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .fillout-container input{
        height: 9vh;
    }


}